  <amp-sidebar id="header-sidebar" class="ampstart-sidebar px3" layout="nodisplay">
    <div class="flex justify-start items-center ampstart-sidebar-header"><div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div></div>
    <nav class="ampstart-sidebar-nav ampstart-nav">
      <header>{{ i18n "Language" . }}</header>
        <ul class="list-reset m0 p0 ampstart-label">
{{- range $.Site.Home.AllTranslations }}
          <li class="inline p1"><a class="menu text-decoration-none " href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
{{- end }}
        </ul>
        <ul class="list-reset m0 p0 ampstart-label">
          <li class="ampstart-nav-item ampstart-nav-dropdown relative">
            <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown mt2">
              <section>
                <header>{{ i18n "Articles" . }}</header>
                  <ul class="ampstart-dropdown-items list-reset m0 p0">
{{- range .Site.Taxonomies.categories }}
                    <li class="ampstart-dropdown-item"><a class="menu text-decoration-none" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
{{- end -}} 
                  </ul>
              </section>
            </amp-accordion>
          </li>
          <li class="ampstart-nav-item ampstart-nav-dropdown relative">
            <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
              <section>
                <header>{{ i18n "Tags" . }}</header>
                  <ul class="ampstart-dropdown-items list-reset m0 p0">
{{- range .Site.Taxonomies.tags }}
                    <li class="ampstart-dropdown-item"><a class="menu" href="{{ .Page.Permalink }}" title="{{ .Page.Title}}">{{ .Page.Title }}</a></li>
{{- end }}
                  </ul>
              </section>
            </amp-accordion>
          </li>
        </ul>
        <ul class="ampstart-sidebar-faq list-reset m0">
{{- $currentPage := . }}
{{- range .Site.Menus.sidebar }}
          <li class="ampstart-faq-item"><a class="menu"{{if or ($currentPage.IsMenuCurrent "sidebar" .) ($currentPage.HasMenuCurrent "sidebar" .) }} active {{ end }} href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a></li>
{{- end }}
        </ul>
    </nav>
{{- partial "social/sidebar-social.html" . }}
  </amp-sidebar>