{{ if and (eq .Site.Params.IwantCustomFonts "true") (eq .Site.Params.IwantGoogleFonts "false") }} 
@font-face { 
  font-family:"cf"; 
  src: url("/fonts/{{ with .Site.Params.FontsWOFF2 }}{{ . }}{{ end }}") format("woff2"), 
  url("/fonts/{{ with .Site.Params.FontsWOFF }}{{ . }}{{ end }}") format("woff");
}
{{ end -}}
  :root {
{{- if eq .Site.Params.ChoosePalette "light" }}
{{ with .Site.Params.BrandColorLP }}--bc: {{.}};{{ end }}
{{ with .Site.Params.BackgroundColorLP }}--bgc: {{.}};{{ end }}
{{ with .Site.Params.FontsColorLP }}--fc: {{.}};{{ end }}
{{ with .Site.Params.MenuFontsColorLP }}--mfc: {{.}};{{ end }}
{{ with .Site.Params.AttentionColorLP }}--ac: {{.}};{{ end }}
{{- else if eq .Site.Params.ChoosePalette "dark" }}
{{ with .Site.Params.BrandColorDP }}--bc: {{.}};{{ end }}
{{ with .Site.Params.BackgroundColorDP }}--bgc: {{.}};{{ end }}
{{ with .Site.Params.FontsColorDP }}--fc: {{.}};{{ end }}
{{ with .Site.Params.MenuFontsColorDP }}--mfc: {{.}};{{ end }}
{{ with .Site.Params.AttentionColorDP }}--ac: {{.}};{{ end }}
{{- end }}
--fs: {{ with .Site.Params.FontSize  }}{{.}};
        {{- else }}112.5%;
        {{- end -}}
{{- if and (eq .Site.Params.IwantGoogleFonts "true") (eq .Site.Params.IwantCustomFonts "true") }}
--ff:{{ with .Site.Params.NameOfGoogleFontFamily }}"{{.}}"{{ end }}, "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Noto Sans", "Liberation Sans", "Helvetica Neue", Arial, sans-serif;
{{- else if and (eq .Site.Params.IwantGoogleFonts "false") (eq .Site.Params.IwantCustomFonts "true") }}
--ff: "cf", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Noto Sans", "Liberation Sans", "Helvetica Neue", Arial, sans-serif;
{{- else }}
--ff: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Noto Sans", "Liberation Sans", "Helvetica Neue", Arial, sans-serif;
}
{{ end }}