    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/images/icons/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/images/icons/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">